{# To be included in project detail view with a context of task_list containing tasks relevant to that project #}
{% load static %}

<div class="row justify-content-between no-gutters mb-3">
  <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target=".collabsible" aria-expanded="false" aria-controls="collapseTable1">View Tasks</button>
  <div class="col-md-4 align-self-end collapse collabsible">
    <input type="search" class="searchInput form-control" data-table-id="sortTable1" placeholder="Search" aria-label="Search">
  </div>
</div>

<div class="collapse collabsible">
  <table id="sortTable1" class="table table-hover">
    <thead>
      <tr>
        <th class="sortHeader" data-sorted="true" data-table-id="sortTable1" data-col="0" data-type="number"
          scope="col">
          #
        </th>
        <th class="sortHeader" data-sorted="false" data-table-id="sortTable1" data-col="1" data-type="text" scope="col">
          Title
        </th>
        <th class="sortHeader" data-sorted="false" data-table-id="sortTable1" data-col="2" data-type="text" scope="col">
          Assigned to
        </th>
        <th class="sortHeader" data-sorted="false" data-table-id="sortTable1" data-col="3" data-type="number"
          scope="col">
          Priority
        </th>
        <th class="sortHeader" data-sorted="false" data-table-id="sortTable1" data-col="4" data-type="number" scope="col">
          Due in
        </th>
        <th class="d-none" data-sorted="false" data-table-id="sortTable1" data-col="6" data-type="text"
          scope="col">
          Status
        </th>
      </tr>
    </thead>
    <tbody>
      {% for task in task_list %}
        <tr onclick="window.document.location='{% url 'task-detail' task.id %}';"
          {% if task.completed %}class="table-success" {% endif %}>
          <th scope="row">{{ task.id }}</th>
          <td>{{ task.title }}</td>

          {% if task.assigned_to %}
            <td>{{ task.assigned_to }}</td>
          {% else %}
            <td class="text-danger">Unassigned</td>
          {% endif %}

          {% if task.priority_level <= 3 %}
            <td class="text-success" data-sort-value="{{ task.priority_level }}">
              {{ task.get_priority_level_display }}
            </td>
          {% elif task.priority_level <= 6 %}
            <td class="text-warning" data-sort-value="{{ task.priority_level }}">
              {{ task.get_priority_level_display }}
            </td>
          {% elif task.priority_level <= 9 %}
            <td class="text-danger" data-sort-value="{{ task.priority_level }}">
              {{ task.get_priority_level_display }}
            </td>
          {% else %}
            <td data-sort-value="{{ task.priority_level }}">
              {{ task.get_priority_level_display }}
            </td>
          {% endif %}

          {% if task.days_till_due > 7 %}
            <td class="text-success" data-sort-value="{{ task.days_till_due }}">
              {{ task.days_till_due }}&nbsp;days
            </td>
          {% elif task.days_till_due > 0 and task.days_till_due <= 7 %}
            <td class="text-warning" data-sort-value="{{ task.days_till_due }}">
              {{ task.days_till_due }}&nbsp;days
            </td>
          {% else %}
            <td class="text-danger" data-sort-value="{{ task.days_till_due }}">
              {{ task.days_till_due }}&nbsp;days
            </td>
          {% endif %}
          <td class="d-none">
            {% if task.completed %}
              Completed
            {% else %}
              In Progress
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script src="{% static 'base/tableFunctions.js' %}"></script>
