{% extends 'base/base_list.html' %}

{% block title %}
  <title>Projects | Lambda</title>
{% endblock title %}

{% block nav %}
  {% include 'projects/project_nav.html' %}
{% endblock nav %}

{% block tableHeaders %}
  <th class="sortHeader" data-sorted="true" data-table-id="sortTable1" data-col="0" data-type="number"
    scope="col">
    #
  </th>
  <th class="sortHeader" data-sorted="false" data-table-id="sortTable1" data-col="1" data-type="text" scope="col">
    Name
  </th>
  <th class="sortHeader" data-sorted="false" data-table-id="sortTable1" data-col="2" data-type="text" scope="col">
    Date Due
  </th>
{% endblock tableHeaders %}

{% block tableBody %}
  {% for project in object_list %}
  <tr onclick="window.document.location='{% url 'project-detail' project.id %}';"
    {% if project.completed %}class="table-success" {% endif %}>
    <th scope="row">{{ project.id }}</th>
    <td>{{ project.name }}</td>
    <td>{{ project.date_due }}</td>
    <td>{{ task.assigned_to_user }}</td>
  </tr>
  {% endfor %}
{% endblock tableBody %}
