{% extends 'base/base.html' %}
{% load static %}

{% block title %}
<title>Projects | Lambda</title>
{% endblock title %}

{% block content %}

<div class="container-lg mb-3">
  <div class="row mb-3">
    <div class="col-md-10 ml-auto">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="row mb-3">
    <div class="col col-md-3">
      <ul class="list-group">
        <a
          href="{% url 'projects-active' %}"
          class="list-group-item list-group-item-action
            {% if request.resolver_match.url_name == 'projects-active' %}active{% endif %}">
          Active Projects
        </a>
        <a
          href="{% url 'projects-completed' %}"
          class="list-group-item list-group-item-action
            {% if request.resolver_match.url_name == 'projects-completed' %}active{% endif %}">
          Completed Projects
        </a>
        <a
          href="{% url 'projects' %}"
          class="list-group-item list-group-item-action
            {% if request.resolver_match.url_name == 'projects' %}active{% endif %}">
          All Projects
        </a>
        <a href="{% url 'project-create' %}" class="list-group-item list-group-item-action">
          New Project
        </a>
      </ul>
    </div>

    <div class="col col-md-9">
      <table id="sortTable1" class="table table-hover">
        <thead>
          <tr>
            <th class="sortHeader" data-sorted="true" data-table-id="sortTable1" data-col="0" data-type="number"
              scope="col">
              #
            </th>
            <th class="sortHeader" data-sorted="false" data-table-id="sortTable1" data-col="1" data-type="text" scope="col">
              Name
            </th>
            <th class="sortHeader" data-sorted="false" data-table-id="sortTable1" data-col="2" data-type="text" scope="col">
              Date Due
            </th>
          </tr>
        </thead>
        <tbody>
          {% for project in object_list %}
          <tr onclick="window.document.location='{% url 'project-detail' project.id %}';"
            {% if project.completed %}class="table-success" {% endif %}>
            <th scope="row">{{ project.id }}</th>
            <td>{{ project.name }}</td>
            <td>{{ project.date_due }}</td>
            <td>{{ task.assigned_to_user }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<script src="{% static 'tasks/tableFunctions.js' %}"></script>
{% endblock content %}
