{% extends 'base/base_single_card_sea_bg.html' %}

{% load crispy_forms_tags %}

{% block title %}
  <title>Login | Lambda</title>
{% endblock title %}



{% block cardContent %}
  <div class="card-header">
    <h2>Login</h2>
  </div>
  <div class="card-body">
    <form method="post" novalidate>
      {% csrf_token %}

      {{ form|crispy }}

      <button type="submit" class="btn btn-primary d-block mx-auto">Log in</button>
    </form>
  </div>
  <div class="card-footer">
    <small class="text-muted">
      Don't have an account? <a href="{% url 'register' %}">Register</a>
    </small>
  </div>
{% endblock cardContent %}
