{# To be included in user detail view with a context of task_list containing tasks relevant to that user #}
{% load static %}


<div class="nav nav-pills mb-3 position-absolute" id="nav-pill" role="tablist">
  <a class="nav-item nav-link" id="nav-task-table-tab" href="#task-table" data-toggle="pill" role="tab" aria-controls="task-table" aria-selected="false">Tasks</a>
  <a class="nav-item nav-link" id="nav-project-table-tab" href="#project-table" data-toggle="pill" role="tab" aria-controls="team-table" aria-selected="false">Projects</a>
  <a class="nav-item nav-link" id="nav-team-table-tab" href="#team-table" data-toggle="pill" role="tab" aria-controls="team-table" aria-selected="false">Teams</a>
</div>

<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade" id="task-table" role="tabpanel" aria-lablledby="task-table">

    <div class="col-md-4 mb-3 float-right" >
      <input type="search" class="searchInput form-control" data-table-id="sortTable1" placeholder="Search" aria-label="search">
    </div>

    <table id="sortTable1" class="table table-hover">
      <thead>
        <tr>
          <th class="sortHeader" data-sorted="true" data-table-id="sortTable1" data-col="0" data-type="number"
            scope="col">
            #
          </th>
          <th class="sortHeader" data-sorted="false" data-table-id="sortTable1" data-col="1" data-type="text" scope="col">
            Title
          </th>
          <th class="sortHeader" data-sorted="false" data-table-id="sortTable1" data-col="2" data-type="text" scope="col">
            Project
          </th>
          <th class="sortHeader" data-sorted="false" data-table-id="sortTable1" data-col="3" data-type="number"
            scope="col">
            Priority
          </th>
          <th class="sortHeader" data-sorted="false" data-table-id="sortTable1" data-col="4" data-type="number" scope="col">
            Due in
          </th>
          <th class="d-none" data-sorted="false" data-table-id="sortTable1" data-col="5" data-type="text"
            scope="col">
            Status
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- We add a rotation of 0 to table rows so that the strechted links apply to the appropriate area. -->
        {% for task in task_list %}
          <tr {% if task.completed %}class="table-success" {% endif %} style="transform: rotate(0);">
            <th scope="row">
              <a href="{% url 'task-detail' task.id %}" class="stretched-link"></a>
              {{ task.id }}
            </th>
            <td>{{ task.title }}</td>
            <td>{{ task.project }}</td>

            {% if task.priority_level <= 3 %}
              <td class="text-success" data-sort-value="{{ task.priority_level }}">
                {{ task.get_priority_level_display }}
              </td>
            {% elif task.priority_level <= 6 %}
              <td class="text-warning" data-sort-value="{{ task.priority_level }}">
                {{ task.get_priority_level_display }}
              </td>
            {% elif task.priority_level <= 9 %}
              <td class="text-danger" data-sort-value="{{ task.priority_level }}">
                {{ task.get_priority_level_display }}
              </td>
            {% else %}
              <td data-sort-value="{{ task.priority_level }}">
                {{ task.get_priority_level_display }}
              </td>
            {% endif %}

            {% if task.days_till_due > 7 %}
              <td class="text-success" data-sort-value="{{ task.days_till_due }}">
                {{ task.days_till_due }}&nbsp;days
              </td>
            {% elif task.days_till_due > 0 and task.days_till_due <= 7 %}
              <td class="text-warning" data-sort-value="{{ task.days_till_due }}">
                {{ task.days_till_due }}&nbsp;days
              </td>
            {% else %}
              <td class="text-danger" data-sort-value="{{ task.days_till_due }}">
                {{ task.days_till_due }}&nbsp;days
              </td>
            {% endif %}
            <td class="d-none">
              {% if task.completed %}
                Completed
              {% else %}
                In Progress
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="tab-pane fade" id="project-table" role="tabpanel" aria-lablledby="project-table">

    <div class="col-md-4 mb-3 float-right" >
      <input type="search" class="searchInput form-control" data-table-id="sortTable2" placeholder="Search" aria-label="search">
    </div>

    <table id="sortTable2" class="table table-hover">
      <thead>
        <tr>
          <th class="sortHeader" data-sorted="true" data-table-id="sortTable2" data-col="0" data-type="number"
            scope="col">
            #
          </th>
          <th class="sortHeader" data-sorted="false" data-table-id="sortTable2" data-col="1" data-type="text" scope="col">
            Name
          </th>
          <th class="sortHeader" data-sorted="false" data-table-id="sortTable2" data-col="2" data-type="text" scope="col">
            Team
          </th>
          <th class="sortHeader" data-sorted="false" data-table-id="sortTable2" data-col="3" data-type="number" scope="col">
            Due in
          </th>
          <th class="d-none" data-sorted="false" data-table-id="sortTable2" data-col="4" data-type="text"
            scope="col">
            Status
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- We add a rotation of 0 to table rows so that the strechted links apply to the appropriate area. -->
        {% for project in project_list %}
          <tr {% if project.completed %}class="table-success" {% endif %} style="transform: rotate(0);">
            <th scope="row">
              <a href="{% url 'project-detail' project.id %}" class="stretched-link"></a>
              {{ project.id }}
            </th>
            <td>{{ project.name }}</td>
            <td>{{ project.team }}</td>

            {% if project.days_till_due > 7 %}
              <td class="text-success" data-sort-value="{{ project.days_till_due }}">
                {{ project.days_till_due }}&nbsp;days
              </td>
            {% elif project.days_till_due > 0 and project.days_till_due <= 7 %}
              <td class="text-warning" data-sort-value="{{ project.days_till_due }}">
                {{ project.days_till_due }}&nbsp;days
              </td>
            {% else %}
              <td class="text-danger" data-sort-value="{{ project.days_till_due }}">
                {{ project.days_till_due }}&nbsp;days
              </td>
            {% endif %}
            <td class="d-none">
              {% if project.completed %}
                Completed
              {% else %}
                In Progress
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="tab-pane fade" id="team-table" role="tabpanel" aria-lablledby="team-table">

    <div class="col-md-4 mb-3 float-right" >
      <input type="search" class="searchInput form-control" data-table-id="sortTable3" placeholder="Search" aria-label="search">
    </div>

    <table id="sortTable3" class="table table-hover">
      <thead>
        <tr>
          <th class="sortHeader" data-sorted="true" data-table-id="sortTable3" data-col="0" data-type="number"
            scope="col">
            #
          </th>
          <th class="sortHeader" data-sorted="false" data-table-id="sortTable3" data-col="1" data-type="text" scope="col">
            Name
          </th>
          <th class="sortHeader" data-sorted="false" data-table-id="sortTable3" data-col="2" data-type="text" scope="col">
            Leader
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- We add a rotation of 0 to table rows so that the strechted links apply to the appropriate area. -->
        {% for team in team_list %}
          <tr style="transform: rotate(0);">
            <th scope="row">
              <a href="{% url 'team-detail' team.id %}" class="stretched-link"></a>
              {{ team.id }}
            </th>
            <td>{{ team.name }}</td>
            <td>{{ team.leader }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script src="{% static 'base/tableFunctions.js' %}"></script>
