{% extends 'base/base_single_card.html' %}

{% block title %}
  <title>Profile | Lambda</title>
{% endblock title %}

{% block cardContent %}
  <div class="card-header">
    <h2>{{ user.username }}</h2>
  </div>
  <div class="card-body">
    <p>
      Name:&emsp;{{ user.first_name}} {{ user.last_name }}
    </p>
    <p>
      Email:&emsp;{{ user.email }}
    </p>
  </div>
{% endblock cardContent %}

{% block belowCard %}
  {% with user.task_set.all as task_list %}
    {% include 'users/user_task_list.html' %}
  {% endwith %}
{% endblock belowCard %}
