{% extends 'base/base_single_card.html' %}
{% load static %}

{% block title %}
  <title>Profile | Lambda</title>
{% endblock title %}

{% block cardContent %}
  <div class="card-header">
    <h2>{{ user.username }}</h2>
  </div>
  <div class="card-body">
    <p>
      Name:&emsp;{{ user.first_name}} {{ user.last_name }}
    </p>
    {% if user.profile.is_manager %}
      <p>
        Status:&emsp;Manager
      </p>
    {% endif %}
  </div>

  {% if request.user == user%}
    <div class="card-footer">
      <a class="btn btn-primary" href="{% url 'profile-update' %}">Update</a>
      <a class="btn btn-danger float-right" href="{% url 'profile-delete' %}">Delete</a>
    </div>
  {% endif %}
{% endblock cardContent %}

{% block belowCard %}
  {% with user.task_set.all as task_list %}
    {% with user.profile.get_related_projects as project_list %}
      {% with user.team_set.all as team_list %}
        {% include 'users/user_objects_lists.html' %}
      {% endwith %}
    {% endwith %}
  {% endwith %}
{% endblock belowCard %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'base/tableFunctions.js' %}"></script>
{% endblock scripts %}
