{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<div class="container-lg mb-3">
  <div class="row mb-3">
    <div class="col-md-9 ml-auto">
      {% include "base/base_messages.html" %}
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-3 mb-3">
      <nav class="nav nav-pills flex-md-column">
        {% block nav %}
        {% endblock nav %}
      </nav>
    </div>

    <div class="col-md-9">
      <div class="d-flex flex-row-reverse no-gutters mb-3">
        <div class="col-md-4">
          <input type="search" class="searchInput form-control" data-table-id="sortTable1" placeholder="Search" aria-label="Search">
        </div>
      </div>

      <table id="sortTable1" class="table table-hover">
        <thead>
          <tr>
            {% block tableHeaders %}
            {% endblock tableHeaders %}
          </tr>
        </thead>
        <tbody>
          {% block tableBody %}
          {% endblock tableBody %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script src="{% static 'base/tableFunctions.js' %}"></script>
{% endblock content %}
