{% extends 'base/base_single_card.html' %}

{% block cardContent %}
  <div class="card-header">
    <h4>Lambda Task Managment</h4>
  </div>
  <div class="card-body">
    <p class="card-text lead">
      Lambda is a task management system designed to help you get stuff
      done.
    </p>
    <ul class="lead">
      <li>Design custom tasks</li>
      <li>Build tasks from mini-tasks</li>
      <li>Schedule tasks</li>
      <li>Mark completed tasks</li>
      <li>Set task priority</li>
      <li>Roll over uncompleted tasks</li>
    </ul>
    <p>
     Try it out as a demo user!
     <a href="{% url 'demo-user-login' %}">Login as demo user</a>
    </p>
  </div>
  <div class="card-footer">
    <a href="{% url 'login' %}" class="card-link">Login</a>
    <a href="{% url 'register' %}" class="card-link">Register</a>
  </div>
{% endblock cardContent %}
