{% extends 'base/base.html' %}

{% block content %}
  <div class="container mb-3" style="max-width: 670px;">
    <div class="row">
      <div class="col">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    {% block aboveCard %}
    {% endblock aboveCard %}

    <div class="row mb-3">

      <div class="col">
        <div class="card mb-3 border-primary">
          <div class="card-header">
            {% block cardHeader %}
            {% endblock cardHeader %}
          </div>
          {% block cardContent %}
          {% endblock cardContent %}
        </div>
      </div>

    </div>
  </div>
{% endblock content %}
