
<a
  href="{% url 'tasks-active' %}"
  class="nav-link
    {% if request.resolver_match.url_name == 'tasks-active'%}active{% endif %}">
  Active Tasks
</a>
<a
  href="{% url 'tasks-completed' %}"
  class="nav-link
    {% if request.resolver_match.url_name == 'tasks-completed'%}active{% endif %}">
  Completed Tasks
</a>
<a
  href="{% url 'tasks' %}"
  class="nav-link
    {% if request.resolver_match.url_name == 'tasks'%}active{% endif %}">
  All Tasks
</a>
<a href="{% url 'task-create' %}" class="nav-link">
  New Task
</a>
