{% extends 'base/base.html' %}

{% block title %}
  <title>Tasks | Lambda</title>
{% endblock title %}

{% block content %}

  <div class="container mb-3">
    <div class="row mb-3">
      <div class="col">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <a class="btn btn-primary float-right" href="{% url 'task-create' %}">
          <h4 class="mb-0">New task</h4>
        </a>
      </div>
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Project</th>
          <th scope="col">Assigned to</th>
          <th scope="col">Priority</th>
          <th scope="col">Due in</th>
        </tr>
      </thead>
      <tbody>
        {% for task in object_list %}
          <tr onclick="window.document.location='{% url 'task-detail' task.id %}'"
            {% if task.completed %}class="table-success"{% endif %}
          >
            <th scope="row">{{ task.id }}</th>
            <td>{{ task.title }}</td>
            <td>{{ task.assigned_to_project }}</td>
            <td>{{ task.assigned_to_user }}</td>
            {% if task.priority_level <= 3 %}
              <td class="text-success">{{ task.get_priority_level_display }}</td>
            {% elif task.priority_level <= 6 %}
              <td class="text-warning">{{ task.get_priority_level_display }}</td>
            {% elif task.priority_level <= 9 %}
              <td class="text-danger">{{ task.get_priority_level_display }}</td>
            {% endif %}
            <td>{{ task.date_due|timeuntil }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
{% endblock content %}
