{% extends 'base/singleCardContent.html' %}

{% block title %}
  <title>Create Task | Lambda</title>
{% endblock title %}

{% block cardHeader %}
  <h2>Delete Task</h2>
{% endblock cardHeader %}

{% block cardContent %}
  <form method="post" novalidate>
    {% csrf_token %}

    <h2>
      Are you sure you want to delete '{{ object.title }}'?
    </h2>

    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="{% url 'task-detail' object.id %}" class="btn btn-secondary">Cancel</a>
  </form>
{% endblock cardContent %}
